# Local infrastructure and orchestration scripts
docker-compose.yml
test-e2e-cluster.js
TODO.md

# Node dependencies
node_modules/

# Environment & key files
.env
.env.local
*.key
*.pem

# OS metadata
.DS_Store
Thumbs.db

data/
keys/
tiles/
central-data/
school-data/
docker-config/
prod-school-settings.json
seed.js
school-meta.json
deploy-build.log

register.js
